<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - microblog</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/pro-index.css' />
  </head>
  <body>
  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Microblog</a>
          </div>
          <div class="collapse navbar-collapse bs-navbar-collapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="/">首页</a></li>
                  <% if(!user) { %>
                      <li><a href="/login">登录</a></li>
                      <li><a href="/reg">注册</a></li>
                  <% } else { %>
                      <li><a href="/logout">登出</a></li>
                  <% } %>
              </ul>
          </div>
      </div>
  </div>
  <div id="container" class="container">
      <% if(success){ %>
        <div class="alert alert-success">
            <%= success %>
        </div>
      <% } %>
      <% if(error){ %>
      <div class="alert alert-danger">
          <%= error %>
      </div>
      <% } %>
      <%- body %>
  </div>
  <div class="footer">
      <div class="container">
          <p><a href="https://github.com/namletneg" target="_blank">BigMarder的Github</a> 2014</p>
      </div>
  </div>
  <script src="/js/jquery-1.11.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  </body>
</html>