<div class="row well">
    <form method="post" action="/post">
        <input type="text" class="publish-text col-xs-8 col-xs-offset-1" name="post"/>
        <button class="btn btn-success col-md-1" type="submit"><span class="glyphicon glyphicon-comment"></span> 发言</button>
    </form>
</div>